!!! html5
%html
  %head
    %title Tms
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      .row
        #user-nav.navbar.navbar-fixed-top.navbar-inverse
          .navbar-inner
            = render 'shared/menu'
      .row
        .span12.main
          .row
            - flash.each do |type, text|
              = content_tag(:div, text, class: "alert alert-#{type}")
          .row
            = yield

    -#= debug(params) if Rails.env.development?
